<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Clear Contacts</title>
    </head>
    <body>
        <h1>Address Book Cleared!</h1>
        <h2><a href='/'>Back to Home</a></h2>
    </body>
</html>
