body {
    background-image: url("img/background.jpg");
}
.navbar-header {
    color: white;
}
.jumbotron {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}
.list {
    float: left;
    padding: 10px;
    font-size: 20px;
    border: 2px solid;
    border-radius: 10px;
    max-width: 300px;
    background-color: #F6F6F6;
    min-height: 300px;
}
.form {
    float: right;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 60px;
}

.display {
    max-width: 500px;
    padding: 10px;
    margin-top: 300px;
    margin-bottom: 100px;

}
.delete {
    max-width: 500px;
    padding: 10px;
    margin-top: 300px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #F6F6F6;
}
.newcontact {
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    background-color: #F6F6F6;
}
.input {
    font-size: 25px;
}
.navbar {
    background-color:  #6699cc;
    color: #F6F6F6;
}
